.custom-blue-bar {
    background-color: #0D47A1; /* Default Bootstrap blue color */
    color: #FFFFFF; /* White text color */
    
}

.table td {
    color: #0D47A1; /* Dark blue text color for table cells */
    border-radius: 10px;
}

/* Hide the scrollbar */
body {
    overflow: hidden;
  }
  
  /* Add a custom scrollbar style (optional) */
  body::-webkit-scrollbar {
    width: 1px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #8888;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #dddd;
  }
  